
<div ng-controller="CreateRequestController">
    <form novalidate class="css-form">
        Callibration type: <input type="text" ng-model="measurementFormData.type" required/> <br/>
        Comments: <input type="text" ng-model="measurementFormData.comments"/><br />
        First name: <input type="text" ng-model="measurementFormData.firstname" required /><br />
        Middle name: <input type="text" ng-model="measurementFormData.middlename" required /><br />
        Last name: <input type="text" ng-model="measurementFormData.lastname" required /><br />
        Phone: <input type="text" ng-model="measurementFormData.phone" required /><br />
        E-mail: <input type="email" ng-model="measurementFormData.email" required /><br />
        Gender: <input type="radio" ng-model="measurementFormData.gender" value="male" />male
        <input type="radio" ng-model="measurementFormData.gender" value="female" />female<br />
        Address: <input type="text" ng-model="measurementFormData.address" required /><br />
        City: <input type="text" ng-model="measurementFormData.city" required /><br />
        Post Code: <input type="text" ng-model="measurementFormData.postcode" required /><br />
        <input type="button" ng-click="send()" value="Send" />

    </form>
</div>

<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>